# 避免peerdependencies的警告
strict-peer-dependencies=false
# 不共享lockfile文件，可单独安装依赖
shared-workspace-lockfile=false
# 忽略工作空间根检查
ignore-workspace-root-check=true

# 设定@grass-ui的路径
@grass-ui:registry=https://npm.pkg.github.com